.flex-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.flex-container > div {
  text-decoration: none;
  width: 100px;
  margin: 10px;
  padding: 15px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
.flex-container div ul li {
  padding: 20px;
}
@media screen and (max-width: 375px) {
  .flex-container {
    width: 100%;
    display: block;
  }
}
@media screen and (max-width: 991px) {
  .flex-container {
    width: 100%;
    display: block;
  }
}

img {
  height: 10vh;
  width: 100%;
}

.header-section{
  margin-top: 0px;
}
.header-section header{
width: 100%;
border: solid red 1px;
background-color: aqua;
}
