.container {
  display: table;
  width: 100%;
}
.link-container {
  text-decoration: none;
  display: table-cell;
  padding: 10px;
  background-color: gold;
}
@media screen and (max-width: 375px) {
  .link-container {
    width: 100%;
    display: block;
    background-color: #88ddee;
  }
}

img {
  height: 15vh;
  width: 100%;
}
