div.relative {
  background-color: #b6e5f6;
  min-height: 400px;
}
.first-sub-container {
  padding: 80px 0px 0px 86px;
}
.first-sub-container h3 {
  font-weight: bold;
  font-size: 35px;
  color: #005072;
}
.second-sub-container {
  width: 100%;
}
.first-sub-sub-container {
  font-weight: bold;
  font-size: 20px;
  color: #005072;
}
.event-section
{
  margin-top: 80px;
}
.heading-tittle .badge-tittle{
  width: 11px;
  height: 70px;
  border-radius: 6px;
  background-color: #ef6696;
}
.heading-tittle h2{
  color:#005072;
  font-size:32px;
  font-weight:700;
  padding-left:10px;
}
.slider-content{
  overflow: hidden;
  background-color: #b6e5f1;
  width: 100%;
  /* height: 400px; */
  border-radius: 10px;
}
.badge-1{
  display: relative;
  position: absolute;
  border: solid 1px #fff;
  border-radius: 10px 0px 0px 0px;
  border-top: 0px;
  border-left: 0px;
  font-size: 14px;
  text-transform: uppercase;
  padding: 15px;
  box-sizing: border-box;
  background-color: #ef6696;
  z-index: 1;
}
.event-body{
  padding: 30px;
}

.event-details{
  padding-left: 20px;
  width: 70%;
  position: relative;
}
.event-details h5{
  font-size: 20px;
  font-weight: 600;
  color: #005072;
}

.video-contain{
  width: 30%;
  height: 178px;
  overflow: hidden;
}
.video-contain video{
  width: 100%;
}
.event-btn{
  position: absolute;
  bottom: 0;
}
.event-btn button{
width: 400px;
background-color: #ef6696;
outline: none;
border: 0;
}
.event-course{
  margin-top: 80px;
}

.event-tag-text h2{
  padding-left: 10px;
  color: #005072;
  font-weight: 700;
}
.event-tag-text h2{
  border-bottom: 5px solid #ef6696;
  margin-bottom: 30px;
}
.tag-card{
  width: 100%;
  min-height: 300px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 2px 2px 8px rgb(13 101 140 / 18%)
}
.tag-card-img{
width: 220px;
height: 228px;
margin: auto;
}
.tag-card-img img{
width: 100%;
height: 100%;
}
.tag-card-img h5{
  text-align: center;
  font-size: 24px;
  color: #005072;
}
.second-section-text h1 {
  font-weight: bold;
  font-size: 40px;
  color: #005072;
  margin-left: 5%;
  
}

.second-section-slider {
  margin-left: 5%;
  width: 90%;
  height: 400px;
  background-color: #b6e5f1;
}

@media screen and (max-width: 600px) {
  section > .d-flex {
    display: block !important;
    padding-bottom: 30px;
  }
  section .d-flex > div {
    width: 100% !important;
    margin: 0px;
  }
  section > .d-flex > div:nth-child(2) {
    display: none;
  }
}
@media screen and (min-width: 600px) {
  section > .d-flex > div {
    width: 100%;
    margin: 0px;
    /* padding: 50px 0 0 50px; */
  }
}
@media screen and (max-width: 600px) {
  .first-sub-container {
    padding: 81px 8px 0px 25px;
  }
}
