div.relative {
  background-color: #b6e5f6;
  border: solid 1px red;
  min-height: 400px;
}
.first-sub-container {
  padding: 80px 0px 0px 86px;
}
.first-sub-container h3 {
  font-weight: bold;
  font-size: 35px;
  color: #005072;
}
.second-sub-container {
  border: solid red 1px;
  width: 100%;
}
.first-sub-sub-container {
  font-weight: bold;
  font-size: 20px;
  color: #005072;
}
@media screen and (max-width: 600px) {
  section > .d-flex {
    display: block !important;
    padding-bottom: 30px;
  }
  section .d-flex > div {
    width: 100% !important;
    margin: 0px;
  }
  section > .d-flex > div:nth-child(2) {
    display: none;
  }
}
@media screen and (min-width: 600px) {
  section > .d-flex > div {
    width: 100% !important;
    margin: 0px;
    /* padding: 50px 0 0 50px; */
  }
}
@media screen and (max-width: 600px) {
  .first-sub-container {
    padding: 81px 8px 0px 25px;
  }
}
