.div1 {
  overflow-x: auto;
}
table {
  border-collapse: collapse;
  border: 1px solid #ddd;
  border-spacing: 0;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:nth-child(even) :hover {
  background-color: #fff;
}
tr:nth-child(odd) :hover {
  background-color: #eee;
}
@media screen and (max-width: 600px) {
  .div1 {
    width: 100%;
  }
}
.fa-remove {
  color: red;
}
.fa-check {
  color: forestgreen;
}
